{% extends 'base.html' %}

{% block body %}
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-4 bg-light">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-12  mx-auto">
                                {% block section %}

                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 d-none d-md-flex bg-image"></div>
        </div>
    </div>
{% endblock %}