{% extends 'bases/actions/base.html' %}

{% block title_text %}
    {% if request.user.is_authenticated %}
        <script>
            window.location.href = '{% url 'accounts:profile' %}'
        </script>
    {% endif %}
    <p class="h4 mb-4 fw-bold">Sing-In</p>
{% endblock %}

{% block button_text %}Sing-In{% endblock %}

{% block additional_link %}
        <a class="text-muted mx-3" href="{% url 'accounts:password-reset' %}">Forgotten Password?</a>
        <a class="text-muted" href="{% url 'accounts:registration' %}">Don't have an account?</a>
{% endblock %}



