{% extends 'registration/base.html' %}

{% block section %}

    {% if request.user.is_authenticated %}
        <script>
            window.location.href = '{% url 'accounts:profile' %}'
        </script>
    {% endif %}

    <form action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}

        <p class="h4 mb-4 fw-bold">Sing-In</p>

        {% for field in form %}
            <div class="mb-3">
                {{ field.errors }}
                <label class="small fw-bold">
                    {{ field.label_tag }}
                    {% if field.help_text %}
                        <span class="text-muted">{{ field.help_text|safe }}</span>
                    {% endif %}
                </label>
                {{ field }}
            </div>
        {% endfor %}

        <div class="d-grid gap-2">
            <button class="btn btn-dark btn-block py-2 fw-bold" type="submit" value="Log In">
                Sing-In
            </button>
        </div>

    </form>

    <div class="d-flex justify-content-end my-1 p-1">
        <a class="text-muted mx-3" href="{% url 'accounts:password-reset' %}">Forgotten Password?</a>
        <a class="text-muted" href="{% url 'accounts:registration' %}">Don't have an account?</a>
    </div>

{% endblock %}