{% extends 'registration/base.html' %}
{% block section %}
    <form method="post">

        {% csrf_token %}

        <p class="h4 mb-2 fw-bold">Change your password</p>
        <p class="mb-4">Use the form below to change your password.</p>

        {% for field in form %}
            <div class="mb-3">
                {{ field.errors }}
                <label class="small fw-bold">
                    {{ field.label_tag }}
                    {% if field.help_text %}
                        <span class="text-muted">{{ field.help_text|safe }}</span>
                    {% endif %}
                </label>
                {{ field }}
            </div>
        {% endfor %}

        <div class="d-grid gap-2">
            <button class="btn btn-dark btn-block py-2 fw-bold" type="submit" value="Log In">
                Change password
            </button>
        </div>

    </form>

    <a class="text-muted" href="{% url 'accounts:login' %}">Already have an account?</a>
    <a class="text-muted" href="{% url 'accounts:password-reset' %}">Forgotten Password?</a>

{% endblock %}
