{% extends 'base.html' %}
{% block header %}{% endblock %}
{% block content %}
    <div style="margin-top:100px">
        <form class="login-form p-4 rounded" method="post">
            {% csrf_token %}
            <h1 class="h4 mb-4 fw-bold">Change your password</h1>
            <p>Use the form below to change your password.</p>

            {% if form.errors %}
                <div class="alert alert-primary" role="alert">
                    Error: Please try again!
                </div>
            {% endif %}

            <label class="small fw-bold">{{ form.new_password1.label }}</label>
            {{ form.new_password1 }}
            <label class="small fw-bold">{{ form.new_password2.label }}</label>
            {{ form.new_password2 }}
            <ul>
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
            <div class="d-grid gap-2">
                <button class="btn btn-dark btn-block py-2 my-2 fw-bold" type="submit" value="Submit">
                    Submit
                </button>
            </div>
        </form>

        <p class="small text-center">
            <a href="{% url "accounts:login" %}">Already have an account?</a>
        </p>
    </div>
{% endblock %}