{% extends 'registration/base.html' %}
{% block section %}
    <form method="post">

        {% csrf_token %}

        <p class="h4 mb-2 fw-bold">Change your password</p>
        <p class="mb-4">Use the form below to change your password.</p>

        {% if form.errors %}
            <div class="alert alert-primary" role="alert">
                Error: Please try again!
            </div>
        {% endif %}

        <div class="mb-3">
            <label class="small fw-bold">{{ form.old_password.label }}</label>
            {{ form.old_password }}
        </div>

        <div class="mb-3">
            <label class="small fw-bold">{{ form.new_password1.label }}</label>
            {{ form.new_password1 }}
            <div id="passwordHelpBlock" class="form-text">
                Your password can’t be too similar to your other personal information, must contain at least 8
                characters,
                can’t be a commonly used password,can’t be entirely numeric.
            </div>
        </div>

        <div class="mb-3">
            <label class="small fw-bold">{{ form.new_password2.label }}</label>
            {{ form.new_password2 }}
        </div>

        <div class="d-grid gap-2">
            <button class="btn btn-dark btn-block py-2 fw-bold" type="submit" value="Log In">
                Change password
            </button>
        </div>

    </form>

    <div class="d-flex justify-content-end my-1 p-1">
        <a class="text-muted mx-3" href="{% url 'accounts:login' %}">Already have an account?</a>
        <a class="text-muted" href="{% url 'accounts:password-reset' %}">Forgotten Password?</a>
    </div>

{% endblock %}
