{% extends 'bases/base.html' %}
{% block header %}{% endblock %}
{% block content %}
    <div style="margin-top:100px">
        <form class="login-form p-4 rounded" method="post">
            {% csrf_token %}
            <h1 class="h4 mb-4 fw-bold">Change your password</h1>
            <p>Use the form below to change your password.</p>

            {% for field in form %}
                <div class="mb-3">
                    {{ field.errors }}
                    <label class="small fw-bold">
                        {{ field.label_tag }}
                        {% if field.help_text %}
                            <span class="text-muted">{{ field.help_text|safe }}</span>
                        {% endif %}
                    </label>
                    {{ field }}
                </div>
            {% endfor %}

            <div class="d-grid gap-2">
                <button class="btn btn-dark btn-block py-2 my-2 fw-bold" type="submit" value="Submit">
                    Submit
                </button>
            </div>
        </form>

        <p class="small text-center">
            <a href="{% url "accounts:login" %}">Already have an account?</a>
        </p>
    </div>
{% endblock %}