{% extends 'bases/actions/base.html' %}

{% block title_text %}
    {% if request.user.is_authenticated %}
        <script>
            window.location.href = '{% url 'accounts:profile' %}'
        </script>
    {% endif %}
    <p class="h4 mb-2 fw-bold">Forgotten your password?</p>
    <p class="mb-4">Enter your e-mail address to obtain a new password.</p>
{% endblock %}

{% block button_text %}Send e-mail{% endblock %}

{% block additional_link %}
    <a class="text-muted mx-3" href="{% url 'accounts:login' %}">Already have an account?</a>
    <a class="text-muted" href="{% url 'accounts:registration' %}">Don't have an account?</a>
{% endblock %}





