{% extends 'base.html' %}

{% block header %}
    {% include 'include/header.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Companies</h1>
            <p class="fs-5 text-muted">List of the company that is registered to your account in our crm system</p>
            <a class="btn btn-outline-dark" href="{% url 'company:add' %}">Add company</a>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-2">
            {% for company in companies %}
                <div class="col p-5">
                    <h5>
                        <a href="{{ company.get_absolute_url }}" class="text-decoration-none text-dark">{{ company.name }}</a>
                    </h5>
                    <h6 class="text-muted">Description</h6>
                    <p>{{ company.description }}</p>
                    <h5 class="">Company contact</h5>
                    <p><span class="fw-bold">Address:</span> {{ company.address }}</p>
                    <p><span class="fw-bold">Email:</span> {{ company.email }}</p>
                    <p><span class="fw-bold">Phone:</span> {{ company.phone }}</p>
                </div>
            {% endfor %}
        </div>

{% endblock %}