{% extends 'registration/base.html' %}


{% block section %}
    <a class="small text-decoration-none" href="{% url "accounts:profile" %}">Back to Dashboard</a>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.errors %}
            <p>Please correct the following errors:</p>
            {% for field in form %}
                {% if field.errors %}
                    <div class="alert alert-primary" role="alert">
                        {{ field.label }}: {{ field.errors|striptags }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="mb-3">
            <label class="small fw-bold">
                {{ form.username.label }}
                <span class="text-muted">(Required)</span>
            </label>
            {{ form.username }}
        </div>

        <div class="mb-3">
            <label class="small fw-bold">
                {{ form.first_name.label }}
                <span class="text-muted">(Required)</span>
            </label>
            {{ form.first_name }}
        </div>

        <div class="mb-3">
            <label class="small fw-bold">
                {{ form.last_name.label }}
                <span class="text-muted">(Required)</span>
            </label>
            {{ form.last_name }}
        </div>

        <div class="mb-3">
            <label class="small fw-bold">
                {{ form.email.label }}
                <span class="text-muted">(Required)</span>
            </label>
            {{ form.email }}
        </div>

        <div class="mb-3">
            <lable class="small fw-bold">{{ form.phone.label }}</lable>
            <span class="text-muted">(Required)</span>
            {{ form.phone }}
        </div>

        <div class="mb-3">
            <lable class="small fw-bold">{{ form.bio.label }}</lable>
            <span class="text-muted">(Required)</span>
            {{ form.bio }}
        </div>

        <div class="mb-3">
            <lable class="small fw-bold">{{ form.avatar.label }}</lable>
            {{ form.avatar }}
        </div>

        <div class="d-grid gap-2">
            <button class="btn btn-dark btn-block py-2 fw-bold" type="submit" value="Log In">
                Submit
            </button>
        </div>
    </form>
{% endblock %}