{% extends 'bases/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-3 bg-light">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-12  mx-auto">
                                {% block title_text %}

                                {% endblock %}
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}

                                    {% for field in form %}
                                        <div class="mb-3">
                                            {{ field.errors }}
                                            <label class="small fw-bold">
                                                {{ field.label_tag }}
                                                {% if field.help_text %}
                                                    <span class="text-muted">{{ field.help_text|safe }}</span>
                                                {% endif %}
                                            </label>
                                            {{ field }}
                                        </div>
                                    {% endfor %}

                                    <div class="d-grid gap-2">
                                        <button class="btn btn-dark btn-block py-2 fw-bold" type="submit"
                                                value="Log In">
                                            {% block button_text %}{% endblock %}
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 d-none d-md-flex bg-image"></div>
        </div>
    </div>
{% endblock %}