{% extends 'bases/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-4 bg-light">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-12  mx-auto">
                                {% block title_text %}

                                {% endblock %}
                                <form method="post">
                                    {% csrf_token %}

                                    {% include 'bases/include/form.html' %}

                                    <div class="d-grid gap-2">
                                        <button class="btn btn-dark btn-block py-2 fw-bold" type="submit">
                                            {% block button_text %}{% endblock %}
                                        </button>
                                    </div>
                                </form>
                                <div class="d-flex justify-content-end my-1">
                                    {% block additional_link %}{% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 d-none d-md-flex bg-image"></div>
        </div>
    </div>
{% endblock %}