{% extends 'bases/base.html' %}

{% block header %}
    {% include 'accounts/include/header.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Managers</h1>
            <p class="fs-5 text-muted">List of the manager that is registered to your account in our crm system</p>
        </div>
        <table aria-label="managers" class="table border-0" id="managers">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Full name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Company</th>
            </tr>
            </thead>
            <tbody>
            {% for manager in managers %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ manager.user }}</td>
                    <td>{{ manager.user.email }}</td>
                    <td>{{ manager.user.phone }}</td>
                    <td><a href="{{ manager.company.get_absolute_url }}"
                           class="text-decoration-none">{{ manager.company }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('#managers').DataTable();
        });
    </script>
{% endblock %}