{% extends 'registration/base.html' %}

{% block section %}
    <form action="{% url 'company:add' %}" method="post">
        {% csrf_token %}
        <p class="h4 mb-2 fw-bold">Add a company</p>
        <p class="mb-4">It's free and only takes a minute.</p>

        {% if form.errors %}
            <p>Please correct the following errors:</p>
            {% for field in form %}
                {% if field.errors %}
                    <div class="alert alert-primary" role="alert">
                        {{ field.label }}: {{ field.errors|striptags }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="mb-3">
            <label class="small fw-bold">
                {{ form.name.label }}
                <span class="text-muted">(Required)</span>
            </label>
            {{ form.name }}
        </div>

        <div class="mb-3">
            <label class="small fw-bold">
                {{ form.description.label }}
                <span class="text-muted">(Required)</span>
            </label>
            {{ form.description }}
        </div>

        <div class="mb-3">
            <label class="small fw-bold">
                {{ form.address.label }}
                <span class="text-muted">(Required)</span>
            </label>
            {{ form.address }}
        </div>

        <div class="mb-3">
            <label class="small fw-bold">
                {{ form.email.label }}
                <span class="text-muted">(Required)</span>
            </label>
            {{ form.email }}
        </div>

        <div class="mb-3">
            <label class="small fw-bold">
                {{ form.phone.label }}
                <span class="text-muted">(Required)</span>
            </label>
            {{ form.phone }}
        </div>

        <div class="d-grid gap-2">
            <button class="btn btn-dark btn-block py-2 mt-3 fw-bold" type="submit">
                Submit
            </button>
        </div>

    </form>
{% endblock %}