{% extends 'bases/company_base.html' %}


{% block section_header %}
    <h1 class="h2">Orders</h1>
    <a href="{% url 'companies:orders:add' company.slug %}" type="button" class="btn btn-sm btn-outline-dark">
        Add order
    </a>
{% endblock %}

{% block section_content %}
    <div class="table-responsive">
        <table aria-label="orders" class="table border-0" id="orders">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Order customer</th>
                <th scope="col">Order summary</th>
                <th scope="col">Created at</th>
                <th scope="col">Order final price</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <th scope="col">{{ order.pk }}</th>
                    <td>{{ order.customer }}</td>
                    <td>
                        {% if order.order_items.all %}
                            <table class="table mb-0" aria-label="order_items">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in order.order_items.all %}
                                    <tr>
                                        <th scope="col">{{ item.pk }}</th>
                                        <td>{{ item.product }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.total_price }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            No product yet.
                        {% endif %}

                    </td>
                    <td>{{ order.created_at }}</td>
                    <td>{{ order.get_price }}</td>
                    <td class="text-end">
                        <a href="{% url 'companies:orders:add-item' company.slug order.pk %}"
                           class="text-decoration-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor"
                                 class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                                <path fill-rule="evenodd"
                                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                            </svg>
                        </a>
                        <a href="{% url 'companies:orders:delete' company.slug order.pk %}"
                           class="text-decoration-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor"
                                 class="bi bi-trash text-danger" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                <path fill-rule="evenodd"
                                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                            </svg>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('#orders').DataTable();
        });
    </script>
{% endblock %}


